# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
*/*/migrations/
.idea
.vscode
# Sphinx documentation
docs/_build/

/lib/planner/build

# Environments
/venv/
venv/

docs/build/
templates/
/media/
.vscode/
rcs/plugins/planner/build/